.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(155, 155, 155, 0.2);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

.nav__notification {
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 600;
  position: absolute;
  color: white;
  left: 22px;
  bottom: 17px;
}
/* notification을 응용하여 만든 notification-dot */
.nav__notification-dot {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: tomato;
  left: 32px;
}
