.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-top: 20px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 30px;
}

/* cog-dot을 cog와 겹쳐 배치하기 위해서 클래스를 생성함 */
.dot-position {
  position: absolute;
  top: 42px;
  right: 17px;
}

.screen-header__cog-dot {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 20px;
  bottom: 25px;
  color: tomato;
}
