.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 30px;
}

.screen-header__cog-dot {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  left: 75px;
  bottom: 25px;
  color: tomato;
}
